@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Lofi";
    src: url("../src/assets/fonts/Lofi\ Lifestyle\ Demo.ttf");
}
@font-face {
    font-family: "Springtime";
    src: url("../src/assets/fonts/Springtime\ Flowers\ DEMO.ttf");
}