.login-bg {
    background-image: url("../assets/images/plant.png");
    background-size: 80%;
    background-position: 30%;
}

.bg-hp {
    background-image: url("../assets/images/hp-bg.png");
    background-size: 95%;
}